In [1]:
print("hello world")

hello world

# Data Science Tools and Ecosystem

In this notebook, data science tools and ecosystems will be summarized.

Some of the popular languages that Data Scientists use are:

*Python
*R
*Java
*SQL

Some of the commonly used libraries used by Data Scientists include:

1.NumPy
2.PyTorch
3.Pandas
4.SyPy

|Data Science Tools|
|------------------|
|Jupyter Lab|
|Visual Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
print((3*4)+5)

17

This will convert 200 minutes to hours by diving by 60

In [6]:
print(200/60)

3.3333333333333335

**Objectives**

-Python
-R
-SQL

## Author

Trevor Bourque